@use './abstracts' as *;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

body {
	background-color: var(--clr-primary);
}

.container {
	width: 90%;
	margin-inline: auto;
}
