@use '../../sass/abstracts/vars' as *;
@use '../../sass/abstracts/media' as *;

@mixin heading-1 {
	font-family: var(--fnt-bellefair);
	font-size: clamp(5em, calc(20vw + 1em), 9.375em);
	text-transform: uppercase;
}

@mixin heading-2 {
	font-family: var(--fnt-bellefair);
	font-size: 6.25em;
	text-transform: uppercase;
}

@mixin heading-3 {
	font-family: var(--fnt-bellefair);

	font-size: clamp(1.25em, 5vw, 3.5em);
	text-transform: uppercase;
}

@mixin heading-4 {
	font-family: var(--fnt-bellefair);
	font-size: 2em;
	text-transform: uppercase;
}

@mixin heading-5 {
	font-family: var(--fnt-barlow);

	font-size: clamp(1em, 3vw, 1.25em);
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

@mixin sub-heading-1 {
	font-family: var(--fnt-bellefair);
	font-size: 1.75em;
	text-transform: uppercase;
}

@mixin sub-heading-2 {
	font-family: var(--fnt-barlow);
	font-size: 0.875em;
	letter-spacing: 0.17em;
	text-transform: uppercase;
}

@mixin nav-text {
	font-family: var(--fnt-barlow);
	font-size: 1em;
	letter-spacing: 0.16em;
	text-transform: uppercase;
}

@mixin body-text {
	font-family: var(--fnt-barlow);
	font-size: clamp(1em, 3vw, 1.2em);
	line-height: 2em;
}

@mixin page-spacing {
	padding-top: 8rem;
	@include mq(medium) {
		padding-top: 13rem;
	}
}
