@use '../../sass/abstracts' as *;

.destination__planet-img {
	display: flex;
}

.planet {
	width: 250px;
	aspect-ratio: 1;
	display: grid;
	place-items: center;
	font-size: 3rem;
	position: absolute;
	// opacity: 0;
	margin-top: 20rem;
	transform: translate(-300%, -20%);

	&:nth-child(1) {
		background-color: green;
	}
	&:nth-child(2) {
		background-color: hotpink;
	}
	&:nth-child(3) {
		background-color: yellowgreen;
	}
	&:nth-child(4) {
		background-color: blueviolet;
	}
}

// classes for moving planets
.showPlanetForwards {
	animation-name: moveInFromRear;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.showPlanetBackwards {
	animation-name: moveInFromFront;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.removePlanetForwards {
	animation-name: moveOutToFront;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}
.removePlanetBackwards {
	animation-name: moveOutToRear;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.planet-info__link-wrapper {
	ul {
		margin-top: 10rem;
		display: flex;
		li {
			list-style: none;
			font-size: 2rem;
			margin: 0 1rem;
			color: white;
		}
	}
}

// animations for moving planets
@keyframes moveInFromRear {
	0% {
		transform: translate(-300%, -100%) scale(0);
	}
	100% {
		transform: translate(0%, 0%) scale(100%);
	}
}

@keyframes moveInFromFront {
	0% {
		transform: translate(-300%, 100%) scale(200%);
	}
	100% {
		transform: translate(0%, 0%) scale(100%);
	}
}

@keyframes moveOutToFront {
	0% {
		transform: translate(0%, 0%) scale(100%);
	}
	100% {
		transform: translate(-300%, 100%) scale(200%);
	}
}

@keyframes moveOutToRear {
	0% {
		transform: translate(0%, 0%) scale(100%);
	}
	100% {
		transform: translate(-300%, -100%) scale(0%);
	}
}
