* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

.home {
  background-color: blue;
}

.destination {
  background-color: green;
}

.crew {
  background-color: hotpink;
}

.technology {
  background-color: yellow;
}
