@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

:root {
  --clr-primary: #0b0d17;
  --clr-txt-paragraph: #d0d6f9;
  --clr-txt-heading: #ffffff;
  --fnt-bellefair: "Bellefair", serif;
  --fnt-barlow: "Barlow Condensed", sans-serif;
}

body {
  background-color: var(--clr-primary);
}

.container {
  width: 90%;
  margin-inline: auto;
}
@media (min-width: 63em) {
  .container {
    width: 80%;
    max-width: 1600px;
  }
}
@media (min-width: 63em) {
  .container--nav {
    width: 90%;
    max-width: 5000px;
  }
}

.home {
  padding-top: 8rem;
  background: url("./assets/home/background-home-mobile.jpg") fixed no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
@media (min-width: 40em) {
  .home {
    padding-top: 13rem;
  }
}
@media (min-width: 40em) {
  .home {
    background-image: url("./assets/home/background-home-tablet.jpg");
  }
}
@media (min-width: 63em) {
  .home {
    background-image: url("./assets/home/background-home-desktop.jpg");
  }
}
.home .container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 63em) {
  .home .container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-top: 10rem;
  }
}
.home__content {
  display: flex;
  flex-direction: column;
}
.home__title {
  font-family: var(--fnt-bellefair);
  font-size: clamp(5em, 20vw + 1em, 9.375em);
  text-transform: uppercase;
  order: 2;
  color: var(--clr-txt-heading);
  margin-bottom: 2rem;
}
.home__tagline {
  font-family: var(--fnt-barlow);
  font-size: clamp(1em, 3vw, 1.25em);
  letter-spacing: 0.25em;
  text-transform: uppercase;
  order: 1;
  color: var(--clr-txt-paragraph);
  margin-bottom: 2rem;
}
.home__blurb {
  font-family: var(--fnt-barlow);
  font-size: clamp(1em, 3vw, 1.2em);
  line-height: 2em;
  order: 3;
  color: var(--clr-txt-paragraph);
  margin-bottom: 5rem;
}
@media (min-width: 63em) {
  .home__blurb {
    margin-bottom: 0;
    max-width: 30rem;
  }
}
.home__CTA-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.home__CTA-button {
  font-family: var(--fnt-bellefair);
  font-size: clamp(1.25em, 5vw, 3.5em);
  text-transform: uppercase;
  font-size: clamp(1.25em, 5vw, 2em);
  order: 4;
  width: 40vw;
  min-width: 9.375rem;
  max-width: 17.125rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: black;
  text-decoration: none;
  background-color: white;
  border-radius: 100vw;
  margin-inline: auto;
  z-index: 1;
}
.home__CTA-button::after {
  content: "";
  width: 160%;
  aspect-ratio: 1;
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: -1;
  transform: scale(50%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.2s linear;
}
.home__CTA-button:hover::after, .home__CTA-button:active::after {
  transform: scale(100%);
  opacity: 1;
}

.destination__planet-img {
  display: flex;
}

.planet {
  width: 250px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  font-size: 3rem;
  position: absolute;
  margin-top: 20rem;
  transform: translate(-300%, -20%);
}
.planet:nth-child(1) {
  background-color: green;
}
.planet:nth-child(2) {
  background-color: hotpink;
}
.planet:nth-child(3) {
  background-color: yellowgreen;
}
.planet:nth-child(4) {
  background-color: blueviolet;
}

.showPlanetForwards {
  animation-name: moveInFromRear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.showPlanetBackwards {
  animation-name: moveInFromFront;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.removePlanetForwards {
  animation-name: moveOutToFront;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.removePlanetBackwards {
  animation-name: moveOutToRear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.planet-info__link-wrapper ul {
  margin-top: 10rem;
  display: flex;
}
.planet-info__link-wrapper ul li {
  list-style: none;
  font-size: 2rem;
  margin: 0 1rem;
  color: white;
}

@keyframes moveInFromRear {
  0% {
    transform: translate(-300%, -100%) scale(0);
  }
  100% {
    transform: translate(0%, 0%) scale(100%);
  }
}
@keyframes moveInFromFront {
  0% {
    transform: translate(-300%, 100%) scale(200%);
  }
  100% {
    transform: translate(0%, 0%) scale(100%);
  }
}
@keyframes moveOutToFront {
  0% {
    transform: translate(0%, 0%) scale(100%);
  }
  100% {
    transform: translate(-300%, 100%) scale(200%);
  }
}
@keyframes moveOutToRear {
  0% {
    transform: translate(0%, 0%) scale(100%);
  }
  100% {
    transform: translate(-300%, -100%) scale(0%);
  }
}
.crew {
  background-color: hotpink;
}

.technology {
  background-color: yellow;
}

/*=============================================
=            navbar            =
=============================================*/
.navbar {
  width: 100%;
  position: fixed;
  padding-top: 1rem;
}
@media (min-width: 40em) {
  .navbar {
    padding-top: 0;
  }
}
@media (min-width: 63em) {
  .navbar {
    margin-top: 3rem;
  }
  .navbar::before {
    content: "";
    width: calc(75% - 775px);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    left: 10%;
    top: 50%;
  }
}
.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 40em) {
  .navbar__menu-button {
    display: none;
  }
}

/*=====  End of navbar  ======*/
/*=============================================
=            main nav section            =
=============================================*/
.main-nav {
  height: 100vh;
  padding-left: 2rem;
  padding-top: 7rem;
  position: absolute;
  top: -1rem;
  right: 0;
  left: 33%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  transform: translateX(101%);
  transition: transform 0.5s ease-in-out;
}
@media (min-width: 40em) {
  .main-nav {
    height: auto;
    min-width: 75%;
    padding: 3rem;
    position: relative;
    top: 0;
    left: auto;
    right: -6%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateX(0);
  }
  .main-nav > * + * {
    margin-left: 2rem;
  }
}
@media (min-width: 63em) {
  .main-nav {
    padding: 3rem 9rem;
    min-width: auto;
    width: 80%;
    max-width: 1200px;
  }
}
.main-nav--isOpen {
  transform: translateX(0);
}
.main-nav__close {
  position: absolute;
  right: 8%;
  top: 2.8rem;
  width: 1.4rem;
}
@media (min-width: 40em) {
  .main-nav__close {
    display: none;
  }
}
.main-nav > a {
  font-family: var(--fnt-barlow);
  font-size: 1em;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2rem;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
@media (min-width: 40em) {
  .main-nav > a {
    margin-bottom: 0;
  }
}
.main-nav > a::after {
  content: "";
  width: 3px;
  height: 150%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  opacity: 0;
  transition: opacity 0.2s;
}
@media (min-width: 40em) {
  .main-nav > a::after {
    width: 100%;
    height: 3px;
    top: auto;
    bottom: -3rem;
  }
}
.main-nav > a.isActive::after {
  opacity: 1;
}
.main-nav > a span {
  font-weight: bold;
  margin-right: 0.2rem;
}
@media (min-width: 40em) {
  .main-nav > a span {
    display: none;
  }
}
@media (min-width: 63em) {
  .main-nav > a span {
    display: inline;
  }
}

/*=====  End of main nav section  ======*/
